.product {
  margin: 1rem 0;
  /* max-width: 15rem; */
  border: 1px solid #c9c9c9;
  margin: 1rem;
  border-radius: 40px 2px 40px 2px;
  transition: all ease-in-out 0.15s;
}
.product:hover {
  cursor: pointer;
}

.hoverProduct {
  border-color: #bb8760;
}

.productHeader {
  width: 220px;
  height: 240px;
  text-align: center;
}
.productHeader .img {
  padding: 1rem 2rem;
}
.productHeader img {
  width: 80%;
  height: 80%;
  border-radius: 50%;
}
.product h3 {
  font-size: 1rem;
  color: #414141;
  text-align: center;
}

.productDesc {
  padding: 0.8rem 1rem;
  background-color: #e7e7e7;
  border-radius: 0px 0px 40px 0px;
  transition: background ease-in 0.15s;
}

.hoverPrice {
  background-color: #bb8760;
  cursor: pointer;
}

.hoverPrice .price {
  color: white;
}

.describe {
  font-style: italic;
  color: grey;
  font-weight: 100;
  font-size: 1rem;
  text-align: center;
  margin-top: 0.3rem;
}

.price {
  text-align: center;
  font-weight: bold;
  color: #4e9f3d;
}

@media screen and (max-width: 820px) {
  .productHeader {
    height: 200px;
    width: 180px;
  }
}
@media screen and (max-width: 575px) {
  .productHeader {
    height: 180px;
    width: 120px;
  }

  .product h3,
  .describe,
  .price {
    font-size: 0.8rem;
  }
}
