.container {
  max-width: 62rem;
  width: 90%;
  margin: 15vh auto 3rem;
  border-radius: 2px;
  color: #414141;
}

.container h1 {
  font-weight: 400;
  margin: 2rem 0;
  text-align: center;
  text-transform: uppercase;
  color: #414141;
  font-size: 2rem;
}
.wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: center;
  min-height: 20rem;
}
.wrap > div {
  padding: 1.5rem;
}
.detail_order {
  width: 23rem;
  border: none;
  height: 100%;
}
.detail_order > h1 {
  margin-bottom: 10px;
}
.detail_order > p {
  margin-bottom: 20px;
  color: #a8a8a8;
  font-weight: 100;
  font-style: italic;
  font-size: 0.8rem;
}
.status_order h1 {
  margin-bottom: 30px;
}
.status {
  width: 37rem;
}

h4 {
  color: rgb(209, 49, 49);
  font-weight: 400;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
}

.status button {
  padding: 0.7rem 1.5rem;
  border: none;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 5px;
  background-color: #4e9f3d;
  color: white;
}

.checkout-item {
  margin-top: 3rem;
}

.itemOrder {
  list-style: none;
  outline: none;
  max-height: 11rem;
  overflow-y: scroll;
  padding-right: 0.5rem;
}
.totalAmount {
  margin-top: 0.8rem;
  border-top: 1px solid #5e5e5e;
  padding-top: 0.8rem;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1150px) {
  .wrap {
    justify-content: center;
  }
  .wrap > div:first-of-type {
    width: 100%;
  }
  .status {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .container h1 {
    font-size: 1.2rem;
  }
}
