.checkoutDesc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkoutDesc > div:first-of-type {
  margin-bottom: 10px;
}
.title {
  text-align: left;
}
.price {
  font-style: italic;
  font-size: 0.9rem;
  margin-top: 2px;
  text-align: justify;
}
.checkoutDesc > p {
  margin-top: 10px;
}
